* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	line-height: 1.5;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

header,
footer {
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 94%);
	min-width: 100%;
	padding: 0.5rem;
}

body {
	background-color: hsl(0, 0%, 93%);
	min-height: 100vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: stretch;
}

.main {
	padding: 5rem;
	min-width: 70%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	flex: 1 0 auto;
}

.sidebar {
	border-radius: 0.5rem;
	padding: 1rem;
	min-width: fit-content;
	max-width: 40%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.grids {
	background-color: hsl(0, 0%, 94%);
	box-shadow: 3px 3px 20px 0px hsl(0, 0%, 50%);
	background-color: hsl(0, 0%, 100%);
	min-width: 512px;
	max-width: 512px;
	min-height: 512px;
	max-height: 512px;

	/* initializing for JS */
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: stretch;
}

.sidebar .btn {
	padding: 0.5rem 2rem;
	min-width: 200px;
	border: 1px solid hsl(0, 0%, 0%);
	border-radius: 5px;
	transition: 0.5s;
	box-shadow: 3px 3px 20px 0px hsl(0, 0%, 50%);
}

.sidebar .btn:hover {
	background-color: hsl(0, 0%, 80%);
	scale: 1.05;
}

#colorPicker {
	height: 42px;
	width: 200px;
	box-shadow: 3px 3px 20px 0px hsl(0, 0%, 50%);
}

/* slider color */
input[type="range"] {
	accent-color: hsl(300, 43%, 14%);
	width: 180px;
}

.active {
	background-color: rgb(50, 20, 50);
	color: white;
}
